@{
    ViewData["Title"] = "Register Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cake Styles</h1>
    <h2 class="display-6">Please register below</h2>
    <div class="text-left">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Confirm password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm password">
            </div>
            <button class="btn btn-outline-primary btn-large">Register</button>
        </form>
    </div>
</div>